<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        SD Tiara Bunda.
    </title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../back-end/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../back-end/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../back-end/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../back-end/assets/img/favicon/site.webmanifest">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../back-end/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../back-end/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../back-end/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>