<!-- Include Header -->
<%- include ../assets/back-end/layout/header.ejs %>

<body class="">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="./dashboard">
                <img src="/assets/back-end/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
            <!-- User -->
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="ni ni-bell-55"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                        aria-labelledby="navbar-default_dropdown_1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder"
                                    src="../assets/back-end/assets/img/theme/team-1-800x800.jpg">
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Selamat Datang!</h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <form action="/panel/logout" method="POST">
                            <input type="submit" class="btn btn-primary btn-pill"
                                style="width: 100%; background: none; border: none; box-shadow: none; color: red;"
                                value="Logout">
                        </form>
                    </div>
                </li>
            </ul>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./dashboard">
                                <img src="../assets/back-end/assets/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="search" class="form-control form-control-rounded form-control-prepended"
                            placeholder="Search" aria-label="Search">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class=" nav-link " href="./dashboard"> <i class="ni ni-tv-2 text-primary"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="profil">
                            <i class="ni ni-single-02 text-red"></i> Profil Guru
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="kelolaJadwal">
                            <i class="ni ni-single-copy-04 text-black"></i> Jadwal Pelajaran
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="absensiSiswa">
                            <i class="ni ni-single-copy-04 text-purple"></i> Absensi Siswa
                        </a>
                    </li>
                </ul>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
            </div>
        </div>
    </nav>
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Form -->
                <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                </form>
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder"
                                        src="../assets/back-end/assets/img/theme/team-4-800x800.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">Admin</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Selamat Datang!</h6>
                            </div>
                            <div class="dropdown-divider"></div>
                            <form action="/panel/logout" method="POST">
                                <input type="submit" class="btn btn-primary btn-pill"
                                    style="width: 100%; background: none; border: none; box-shadow: none; color: red;"
                                    value="Logout">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- Card stats -->
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <h3 class="mb-0">Jadwal Pelajaran</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Waktu</th>
                                        <th scope="col">Senin</th>
                                        <th scope="col">Selasa</th>
                                        <th scope="col">Rabu</th>
                                        <th scope="col">Kamis</th>
                                        <th scope="col">Jumat</th>
                                        <th scope="col">Sabtu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            07.00 - 07.30
                                        </td>
                                        <td>
                                            Upacara
                                        </td>
                                        <td>
                                            Agama
                                        </td>
                                        <td>
                                            Penjaskes
                                        </td>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            Senam
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            07.30 - 08.30
                                        </td>
                                        <td>
                                            PKN
                                        </td>
                                        <td>
                                            Agama
                                        </td>
                                        <td>
                                            Penjaskes
                                        </td>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            Senam
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            08.30 - 09.30
                                        </td>
                                        <td>
                                            PKN
                                        </td>
                                        <td>
                                            IPA
                                        </td>
                                        <td>
                                            Penjaskes
                                        </td>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            IPS
                                        </td>
                                        <td>
                                            Eksul
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            09.30 - 10.00
                                        </td>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            IPA
                                        </td>
                                        <td>
                                            IPA
                                        </td>
                                        <td>
                                            Agama
                                        </td>
                                        <td>
                                            IPS
                                        </td>
                                        <td>
                                            Eksul
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            10.00 - 10.30
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Pulang</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            10.30 - 11.30
                                        </td>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            IPS
                                        </td>
                                        <td>
                                            Agama
                                        </td>
                                        <td>
                                            IPA
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            11.30 - 12.00
                                        </td>
                                        <td>
                                            Matematika
                                        </td>
                                        <td>
                                            Bahasa Indonesia
                                        </td>
                                        <td>
                                            Seni Budaya
                                        </td>
                                        <td>
                                            PKN
                                        </td>
                                        <td>
                                            IPA
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            12.00 - 12.30
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                        <td>
                                            <b>Istirahat</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            12.30 - 13.00
                                        </td>
                                        <td>
                                            IPS
                                        </td>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            Seni Budaya
                                        </td>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            Seni Budaya
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13.00 - 13.30
                                        </td>
                                        <td>
                                            IPS
                                        </td>
                                        <td>
                                            Bahasa Inggris
                                        </td>
                                        <td>
                                            Seni Budaya
                                        </td>
                                        <td>
                                            PKN
                                        </td>
                                        <td>
                                            Seni Budaya
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">
                        <div class="copyright text-center text-xl-left text-muted">
                            &copy; 2020 <a class="font-weight-bold ml-1">Tiara Bunda</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Include Footer -->
    <%- include ../assets/back-end/layout/footer.ejs %>