<script src="../../assets/back-end/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="../../assets/back-end/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/back-end/assets/js/argon-dashboard.min.js?v=1.1.0"></script>
</body>

</html>