<!-- Include Header -->
<%- include assets/front-end/layout/header.ejs %>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <a href="/">
            <img src="assets/front-end/assets/img/sd-logo.png" alt="">
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu Wrapper End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/"><img src="assets/front-end/assets/img/sd-logo.png" alt="" style="height: 80px;"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget" style="padding: 35px 0">
                        <ul>
                            <li><i class="icon_mail_alt"></i> support@tiarabunda.com</li>
                            <li><i class="fa fa-mobile-phone"></i>(022) 7510654</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <nav class="nav-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/blog">Berita</a></li>
                            <li><a href="/strukturOrganisasi">Struktur Organisasi</a></li>
                            <li><a href="/kotakSaran">Kotak Saran</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3" style="align-self: center;">
                    <div class="dropdown" style="float: right;">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a href="/siswa">Siswa</a>
                            <a href="/guru">Guru</a>
                            <a href="/panel">Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="assets/front-end/assets/img/hero/hero-1.jpg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hc-inner-text">
                            <div class="hc-text text-center">
                                <h4>SD Tiara Bunda</h4>
                                <p><span class="icon_pin_alt"></span> Bandung, Indonesia</p>
                                <div class="label">Sekolah dengan Pengajar Berkualitas dan Pengembangan Minat dan Bakat
                                    yang sesuai Putra Putri anda.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="assets/front-end/assets/img/hero/hero-2.jpg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hc-inner-text">
                            <div class="hc-text text-center">
                                <h4>SD Tiara Bunda</h4>
                                <p><span class="icon_pin_alt"></span> Bandung, Indonesia</p>
                                <div class="label">Sekolah dengan Pengajar Berkualitas dan Pengembangan Minat dan Bakat
                                    yang sesuai Putra Putri anda.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="assets/front-end/assets/img/hero/hero-3.jpg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hc-inner-text">
                            <div class="hc-text text-center">
                                <h4>SD Tiara Bunda</h4>
                                <p><span class="icon_pin_alt"></span> Bandung, Indonesia</p>
                                <div class="label">Sekolah dengan Pengajar Berkualitas dan Pengembangan Minat dan Bakat
                                    yang sesuai Putra Putri anda.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Search Section Begin -->
<section class="search-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h4>Apa itu SD Tiara Bunda ?</h4>
                </div>
                <p><b>SD Tiara Bunda</b> merupakan suatu lembaga pendidikan yang berdiri sejak tahun 2003. Terdiri dari
                    kelompok
                    bermain, taman kanak-kanak dan sekolah dasar.</p>
                <p><b>SD Tiara Bunda</b>, selain mengajarkan kemampuan akademis kepada putra putri anda, kami juga
                    mengajarkan
                    mereka dalam menghadapi tantangan dalam menyerap berbagai informasi, IPTEK dan pengembangan bakat
                    dilengkapi dengan sarana dan prasarana yang menunjang.</p>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h4>Event</h4>
                </div>
                <p>List Event</p>
            </div>
        </div>
    </div>
</section>
<!-- Search Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus-section spad set-bg" data-setbg="assets/front-end/assets/img/chooseus/chooseus-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="chooseus-text">
                    <div class="section-title">
                        <h4>Mengapa harus memilih kami ?</h4>
                    </div>
                    <p>Sejak dini, anak-anak belajar untuk mandiri melalui berbagai pembiasaan baik. Dimulai dengan hal
                        sederhana yang berguna untuk kehidupan sehari-hari. Percaya diri juga perlu dipupuk. Kami
                        mengembangkan aspek tersebut dengan rutin mengikuti berbagai kegiatan dan perlombaan, baik itu
                        didalam maupun diluar sekolah.
                    </p>
                    <p>Selain itu, kami juga telah terakreditasi dengan detail sebagai berikut:</p>
                    <p style="font-weight: bold; color: #fff;"> - BAP-S/M NOMOR 02.00/330/SK/BAP-SM/XI/2017</p>
                    <p style="font-weight: bold; color: #fff;"> - (BAN S/M) NO.02.00/206/BAP-SM/SK/X/2012</p>
                </div>
                <div class="chooseus-features">
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="assets/front-end/assets/img/chooseus/chooseus-icon-1.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Pengembangan Bakat dan Minat</h5>
                            <p>Kami akan membantu mengembangkan bakat dan minat putra putri anda dengan kegiatan
                                ekstrakulikuler yang menarik.</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="assets/front-end/assets/img/chooseus/chooseus-icon-2.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Pengajar Berkualitas</h5>
                            <p>Kami menyediakan sumber daya pengajar yang berkualitas dalam rangka memenuhi kebutuhan
                                pendidikan putra putri anda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Testimonial</h4>
                </div>
            </div>
        </div>
        <div class="row testimonial-slider owl-carousel">
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>Hubungan yang erat bagaikan ibu dan ayah antara murid dan guru, menjadi salah satu keunggulan
                            dari SD Tiara Bunda.</p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="assets/front-end/assets/img/testimonial-author/ta-1.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>Ir. Abdul Rozaq</h5>
                            <span>Orang Tua Murid</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>Selain dari akademik, ekstrakulikuler yang SD Tiara Bunda sediakan sangat menarik dan ini
                            bagus untuk pengembangan bakat dan minat anak saya.</p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="assets/front-end/assets/img/testimonial-author/ta-2.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>H. Rizal </h5>
                            <span>Orang Tua Murid</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>Transparansi antar guru dan orang tua murid merupakan salah satu hal yang unggul dalam SD
                            Tiara Bunda. Disamping itu, tenaga pengajar juga memiliki kualitas yang bagus.</p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="assets/front-end/assets/img/testimonial-author/ta-1.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>Reza Ahmad Nugroho, ST</h5>
                            <span>Orang Tua Murid</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Contact Section Begin -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Alamat</h5>
                            <p>Jl. Batununggal Indah I No.74-76, Mengger, Kec. Bandung Kidul, Kota Bandung, Jawa Barat
                                40266</p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Nomor Telefon</h5>
                            <ul>
                                <li>(022) 7510654</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Email</h5>
                            <p>support@tiarabunda.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.433772295951!2d107.62409431477302!3d-6.958048994973065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6aca389bf64c345!2sSD%20Tiara%20Bunda!5e0!3m2!1sid!2sid!4v1587482935739!5m2!1sid!2sid"
            height="450" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="fs-about">
                    <div class="fs-logo">
                        <a href="#">
                            <img src="assets/front-end/assets/img/sd-logo.png" alt="" style="height: 80px;">
                        </a>
                    </div>
                    <p><b>Tiara Bunda</b> merupakan suatu lembaga pendidikan yang berdiri sejak tahun 2003. Terdiri dari
                        kelompok
                        bermain, taman kanak-kanak dan sekolah dasar.</p>
                    <div class="fs-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fs-widget">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="blog">Berita</a></li>
                        <li><a href="kotakSaran">Kotak Saran</a></li>
                        <li><a href="strukturOrganisasi">Struktur Organisasi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p style="color: #fff;">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart"
                    aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Include Footer -->
<%- include assets/front-end/layout/footer.ejs %>