<script src="front-end//assets/js/jquery-3.3.1.min.js"></script>
<script src="front-end//assets/js/bootstrap.min.js"></script>
<script src="front-end/assets/js/jquery.magnific-popup.min.js"></script>
<script src="front-end/assets/js/mixitup.min.js"></script>
<script src="front-end/assets/js/jquery-ui.min.js"></script>
<script src="front-end/assets/js/jquery.nice-select.min.js"></script>
<script src="front-end/assets/js/jquery.slicknav.js"></script>
<script src="front-end/assets/js/owl.carousel.min.js"></script>
<script src="front-end/assets/js/jquery.richtext.min.js"></script>
<script src="front-end/assets/js/image-uploader.min.js"></script>
<script src="front-end/assets/js/main.js"></script>

<!-- End -->

</body>

</html>